/build
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/MetropolisEducationSytstem/release/baselineProfiles/0/app-MetropolisEducationSytstem-release.dm
/MetropolisEducationSytstem/release/baselineProfiles/1/app-MetropolisEducationSytstem-release.dm
/MetropolisEducationSytstem/release/app-MetropolisEducationSytstem-release.aab
/MetropolisEducationSytstem/release/app-MetropolisEducationSytstem-release.apk
/MetropolisEducationSytstem/release/output-metadata.json
/BusyBeesSchoolingSystem/release/app-BusyBeesSchoolingSystem-release.aab
